<h1>Home</h1>
<a href = "/movies">Movies</a>
<a href = "person/new">New person</a>
<a hred = "/actors">Actors</a>
<a href = "/directors">Directors</a>
<a href="/addresses">Adresses</a>
<a href="categories">Categories</a>
